### all ignore ###
*

### not ignore ###
!/.config
!/.config/asdf
!/.config/asdf/.default-python-packages
!/.config/zsh
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
!/.config/starship.toml
!/.config/vscode.code-profile
!/bin/.Brewfile
!/bin/asdf.sh
!/bin/gh.sh
!/bin/git.sh
!/bin/install.sh
!/bin/link.sh

!/.gitignore
!/LICENSE
!/README.md
