### all ignore ###
/bin/**
/.**

### not ignore ###
!/.config/zsh/**
!/.config/starship.toml
!/.config/vscode.code-profile
!/bin/.Brewfile
!/bin/asdf.sh
!/bin/gh.sh
!/bin/git.sh
!/bin/install.sh
!/bin/link.sh

!/.gitignore
!/LICENSE
!/README.md
